
{% load static %}

<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <style>
        @page {
            @bottom-right {
                content: counter(page) " of " counter(pages);
            }
        }
        .table-bordered > tbody > tr > td{
            border:1px solid black;
}
    </style>
</head>

<body style="background-color:  rgb(211,211,211);">
<header class="site-header" style="border-bottom: 1px solid;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        
          
          
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link 1" href="{% url 'Process:homepage' %}">Home</a>
              <a class="nav-item nav-link 2" href="{% url 'Process:About' %}" style="margin-left: 15%; width:150px;">About Us</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                <a class="nav-item nav-link 3" href="{% url 'Authentication:profile' %}" style="margin-right: 15%; width:200px;">Welcome, {{ user.username }}</a>
                <form method="post" action="{% url 'Authentication:logout'%}">
                  {% csrf_token %}
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Logout</button>
          </form>
               
             
            </div>
          
        </div>
      </nav>
    </header>

    


    <div class="container" style="page-break-before: always;">
        <div class="row">
            <div class="col-12">
                <strong>History :</strong>
               
            </div>
        </div><br>
        {% for file in history %}
        <h6>File: <img class="article-img" src="{% static 'csv.png'%}" alt="user-img" style="width:50px; height:50px;"></h6>
        
        <table class="table table-bordered table-condensed">
            <tbody>
              
                <tr>
                    <td>
                        <h6>
                            <strong>File name:</strong>
                        </h6>
                        <span>{{ file.filename }}</span><br>
                        <span><small class="text-muted">{{ file.process_date|date:"F d, Y P" }}</small></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h6>
                            <strong>Rating:</strong>
                        </h6>
                        <span>Positive: {{ file.positive }}</span><br>
                        <span>Negative: {{ file.negative }}</span><br>
                        <span>Neutral: {{ file.neutral }}</span>
                    </td>
                </tr>
              </tbody>
            </table><br>
                {% endfor %}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
