{% extends 'Process/navbar.html'%}



{% block content %}

<div class="ct-pageWrapper" id="ct-js-wrapper">
  <section class="company-heading intro-type" id="parallax-one">
    <div class="container">
      <div class="row product-title-info">
        <div class="col-md-12">
          <h1>About Us</h1>
        </div>
      </div>
    </div>
    <div class="parallax" id="parallax-cta" style="background-image:url(https://www.solodev.com/assets/hero/hero.jpg);"></div>
  </section>
  <section class="story-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding" id="section">
    <div class="container text-center">
      <h2>WHAT DRIVES US</h2>
      <h3>ISRO Sentiment Analysis </h3>
      <div class="col-md-12 col-md-offset-2">
        <div class="red-border"></div>
        <p class="ct-u-size22 ct-u-fontWeight300 marginTop40">The demand for the sentiment analysis is a dynamic value.By the usage of this system we improve to some extent the process of sentiment analysis and increase its success and efficiency. The business effects of potential Sentiment analysis systems application are the increase in business and in the reduction of negative reviews through analysis .</p>
        <!-- <a class="ct-u-marginTop60 btn btn-solodev-red btn-fullWidth-sm ct-u-size19" href="#">Learn More</a> -->
      </div>
    </div>
  </section>
      </div>
    {% endblock%}